.video-column {
  transition: all 0.3s linear;
  flex: 0 0 32.667%;
  max-width: 32.667%;
  margin-left: 1%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 14px 2px;
  padding: 0;
}
.video-column:first-child {
  margin-left: 0;
}
.video-column:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 15px 20px 10px;
}
.video-column:first-child {
  margin-left: 0;
}
.video-column:last-child {
  margin-right: 0;
}

.video-image {
  margin-top: 0;
}

.video-title {
  font-size: 1.25rem;
  padding: 1rem;
}

.video-tags {
  padding: 1rem;
  padding-top: 0;
}

.video-tags button {
  margin-right: 0.25rem;
}
