.logo {
  margin-top: 2vw;
}

.nav {
  display: flex;
  margin-top: 2vw;
  width: 80%;
}
.nav-item {
  color: white !important;
  flex: 1 1 auto;
  padding: 0;
}
.nav-item:last-child {
  margin-top: -0.75vw;
}

.button {
  padding: 10px 24px 10px;
  border-radius: 25px;
}

/* RESPONSIVE */
@media only screen and (max-width: 992px) {
  .nav {
    width: 100%;
    margin-top: 0;
  }
  .nav-item {
    padding: 1rem;
  }
  .nav-item:first-child {
    padding-top: 0;
  }
}
