.top {
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top a {
  color: white;
}

.top-item {
  flex: 1 1 auto;
}
