.avatar {
  border-radius: 50%;
  margin-top: 2vw;
  margin-left: 5vw;
  max-width: 250px;
}

.text-column {
  text-align: left;
  padding: 3vw 5vw;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
  .avatar {
    margin-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .text-column {
    padding-top: 1.5vw;
  }
}
